

			.thboldred {
					background-color : red ;
    				font: 18px bold;

				}
			.tditalic-orange {
				font-style : italic;
				background-color :  orange;
				text-align: center;
				width: 90%;
				border: 2px solid black;	

				}

	
			.div20bold {
					text-align : center ;
    				font: 20px Precious bold;

				}

			 

